<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Имя пользователя:</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastName">Фамилия пользователя:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="age">Возраст пользователя:</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="email">Электронная почта пользователя:</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <label for="password">Пароль пользователя:</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="role">Роль пользователя</label>
    <select th:class="form-control" th:multiple th:name="listRoles" id="role"
            size="2">
        <option selected th:name="USER" th:value="ROLE_USER">USER</option>
        <option selected th:name="ADMIN" th:value="ROLE_ADMIN">ADMIN</option>
    </select>

    <br>
    <input type="submit" value="Создать"/>

</form>

</body>
</html>